/* -GLOBAL- */
body {
  padding-bottom: 100px;
  /*adds some leeway before page ends*/
  overflow-y:scroll;
}

/*Nav Bar*/
#nav-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin-left: 170px;
    margin-right: 170px;
    background-color: beige;
    border-radius: 15px;
    flex-wrap:nowrap;
  
    
   
}



nav a {
    font-family: system-ui;
    font-size: 17px;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: black;

}


a:hover,  nav img:hover {
    filter: grayscale(100%);
    text-decoration: none;
    color: white;
}

html {
    height: 100%;
    width: 100%;
}

nav img {
    padding-top: 5px;
}

nav li img:hover {
    filter: blur(1px);
}
 
/*Nav Bar End*/

/* -GLOBAL END- */

/* -Homepage- */

#homepage body #img-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#homepage body .divider {
    margin-top: 50px;
    width: 1180px;
    height: 20px;
    background: beige;
    border-radius: 15px;
}

#homepage body #title {
    padding: 40px 0, 40px;
    font-size: 35px;
    font-family: system-ui;
    margin-left: 218px;
}

#homepage body #item-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 165px;
  flex-wrap: wrap;

}

#homepage body .calculator {
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   background-color: beige;
   width: 250px;
   height: 400px;
   border-radius: 20px;
     
}

#homepage .desc{
    display:inline-block;
    margin-left: 225px;
    
}

#homepage body p {
    font-size: x-large;
    font-family: sans-serif;
}

#homepage #text2 {
    margin-left: 170px;
}

#homepage #text3 {
    margin-left: 145px;
}

/* Homepage End */

/* Mission Start */
#mission #flex-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#mission #box img {
    padding-top: 12px;
}

#mission #box {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: beige;
    width: 550px;
    height: 350px;
    border-radius: 20px;
}

#mission h3 {
    font-family: sans-serif;
    font-size:30px;
}

#mission p {
    margin-top: 35px;
    font-family: sans-serif;
    padding-bottom: 50px;
   
    font-size: 16px;
}

#mission img:hover {
    filter: blur(1px);
}

/* Mission End */

/* FAQ Start */

#faq body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
  
}

#faq h3 {
    font-size: 30px;
    font-family: system-ui;
    padding: 50px 0px 0px 225px;
}

#faq body .divider {
    
    margin: 0 0 30px 0;;
    width: 1200px;
    height: 10px;
    background: beige;
    border-radius: 15px;
    margin: auto;
    padding-bottom: 10px;

}

#faq body .divider2 {
    
    width: 1150px;
    height: 5px;
    background: beige;
    margin: auto;

}

#faq .qna {
    padding: 27px 0 27px 0;
}

#faq body p {
    font-size: 20px;
    font-family: system-ui;
    padding: 5px 0 5px 225px;
}

#faq h2 {
    font-size: 25px;
    font-family: system-ui;
    padding: 25px 0px 0px 225px;
}

#faq #email {
    margin: 0 0 0 0;
    font-size: 20px;
    margin-bottom: 0;
}

#faq #operating-hours {
    margin-top: 0;
    font-size: 15px;
}

/*End of FAQ*/

/*Start of Catalog*/

#catalog .search-container {
    display: flex;
    flex-direction: column;
    padding: 70px 0 65px 200px;
   
}

#catalog #search {
    width: 450px;
    height: 35px;
    border-width: 3px;
    border-radius: 5px;
    font-family: sans-serif;
}

#catalog .calculator-slots {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 1350px;
    column-gap: 0px;
    padding-left: 127px;
    padding-top: 40px;
}   

#catalog .slot {
    padding-bottom: 60px;
}

#catalog body p {
    font-size: 1rem;
    font-family: sans-serif;
    padding-left: 100px;
}

#catalog .calc-img img {
    object-fit: contain;
    width: 350;
    height: 350;
}