/* -GLOBAL- */
body {
  padding-bottom: 100px;
  /*adds some leeway before page ends*/
}

/*Nav Bar*/
#nav-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin-left: 170px;
    margin-right: 170px;
    background-color: beige;
    border-radius: 15px;
    flex-wrap: nowrap;
   
}

nav a {
    font-family: system-ui;
    font-size: 17px;
}

a:link, a:active, a:visited{
    text-decoration: none;
    color: black;

}

a:hover,  nav img:hover {
    filter: grayscale(100%);
    text-decoration: none;
    color: white;
}

html {
    height: 100%;
    width: 100%;
}

nav img {
    padding-top: 5px;
}
 
/*Nav Bar End*/

/* -GLOBAL END- */

/* -Homepage- */

#homepage body #img-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#homepage body .divider {
    margin-top: 50px;
    width: 1180px;
    height: 20px;
    background: beige;
    border-radius: 15px;
}

#homepage body #title {
    padding: 40px 0, 40px;
    font-size: 35px;
    font-family: system-ui;
    margin-left: 218px;
}

#homepage body #item-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 165px;
  flex-wrap: wrap;

}

#homepage body .calculator {
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   background-color: beige;
   width: 250px;
   height: 400px;
   border-radius: 20px;
     
}

#homepage .desc{
    display:inline-block;
    margin-left: 225px;
    
}

#homepage p {
    font-size: x-large;
    font-family: sans-serif;
}

#homepage #text2 {
    margin-left: 170px;
}

#homepage #text3 {
    margin-left: 145px;
}

/* Homepage End */

